.cta-section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $secondary; 
    min-height: 425px; 

    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            
    }

    &-text {
        text-align: center;
        font-size: 25px;
        margin: auto;
        font-family: 'GT America';
        font-weight: 300;
        @include breakpoint(medium) {
            max-width: columns(7);

        }
        
    }

    &-link {
        color: white;
        font-size: 1.125rem;
        text-align: center;
        margin-top: 30px;
    }
}