.free-swiper {
    &-section {
        @include padding-y(30px);

        @media (max-width: 767px) {
            @include padding-x(20px);
        }

        @include breakpoint(medium) {
            @include padding-y(80px);
        }
    }

    &-container {
        overflow: visible;
    }
    &-slide {
        width: auto;

        &-title {
            font-family: 'GT America';
            font-size: 0.875rem;
            line-height: 1.43em;
            margin-top: 25px;
        }
        &-subtitle {
            font-family: 'GT Pressura Pro';
            font-size: 0.8125rem;
            line-height: 1.54rem;
            font-weight: 300;
        }

        &-image {
            height: 300px;

            @include breakpoint(medium) {
                height: 620px;
            }
        }
    }
    &-button {
        color: #fff;
    }
}