.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 600px;
    max-height: calc(100vh - #{$navbarHeight});

    &-sheen {
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #000, #fff);
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    &-heading {
        position: relative;
        color: #fff;
        font-size: 1.1875rem;
        letter-spacing: 0.21em;
        text-transform: uppercase;
        @include padding-x(15px);
        width: 100%;
    }
}