.modal-swiper {
    &-section {
        @include padding-y(30px);

        @include breakpoint(medium) {
            @include padding-y(60px);
        }

        &-inner {
            position: relative;

            @include breakpoint(medium) {
                @include padding-x(columns(1));
            }
            @include breakpoint(xlarge) {
                width: columns(11);
            }
        }
    }

    &-slide {
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        padding: 30px 20px;
        height: 370px;
        
        &-header {
            margin-bottom: 15px;
        }
        &-heading {
            font-family: 'GT America';
            font-size: 1.125rem;
            line-height: 1.111em;
        }
        &-subheading {
            font-family: 'GT Pressura Pro';
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.333em;
        }
        &-text {
            $line-count: 5;
            $line-height: 1.286em;

            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            font-family: 'GT America';
            font-size: 0.875rem;
            font-weight: 300;
            overflow: hidden;
            margin-top: auto;
            height: $line-count * $line-height;

            p {
                line-height: $line-height;
            }
        }
        &-link {
            margin-top: 15px;
        }
    }

    &-button {
        &-prev, &-next {
            outline: none;
            color: #000;
            font-size: 1.75rem;

            &::after {
                display: none;
            }
        }
    }

    &-modal {
        display: flex;
        flex-direction: column;

        @include breakpoint(medium) {
            flex-direction: row;
        }

        .modal-swiper-slide {
            &-header {
                @include breakpoint(medium) {
                    width: columns(4, 10);
                }
            }
            &-text {
                -webkit-line-clamp: unset;
                overflow: visible;
                height: auto;

                @include breakpoint(medium) {
                    margin-top: 0;
                    width: columns(6, 10);
                }

                @include breakpoint(xlarge) {
                    width: columns(5, 10);
                }
            }
            &-link {
                display: none;
            }
        }
    }
}