.text-section {
    position: relative;
    @include padding-y(30px);
    padding-right: 40px;

    @include breakpoint(medium) {
        display: flex;
        @include padding-y(80px);
    }

    &-left {
        @include breakpoint(medium) {
            margin-left: columns(1);
            width: columns(3);
            margin-right: columns(1);
        }
        @include breakpoint(xlarge) {
            margin-left: columns(1);
            width: columns(2);
            margin-right: columns(2);
        }
    }
    &-right {
        @include breakpoint(medium) {
            width: columns(6);
        }
        @include breakpoint(xlarge) {
            width: columns(5);
        }
    }

    &-heading {
        font-size: 2.625rem;
        font-weight: 300;
        letter-spacing: 0.0275em;
        margin-bottom: 15px;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }
    &-text {
        font-family: 'GT America', sans-serif;
        font-size: 1.5625rem;
        font-weight: 300;

        .text-section.small & {
            font-size: 1.125rem;
        }

        p {
            line-height: 1.28em;
        }
    }
    &-link {
        font-size: 1.125rem;
        margin-top: 15px;

        @include breakpoint(medium) {
            margin-top: 45px;
        }
    }
    &-vertical {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-family: 'GT Pressura Pro', sans-serif;
        font-size: 0.625rem;
        font-weight: 300;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        writing-mode: vertical-lr;
    }
}