.project {
    &-swiper {
        &-container {
            position: relative;
            text-align: center;
            height: 100%;

            &.swiper-container-horizontal {
                > .swiper-pagination-bullets {
                    .swiper-pagination-bullet {
                        $size: 10px;
                        border: 1px solid #fff;
                        background-color: transparent;
                        opacity: 1;
                        @include margin-x(7.5px);
                        width: $size;
                        height: $size;
        
                        &-active {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        &-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
        &-slide {
            position: relative;
            
            &-image {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            &-sheen {
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(to right, #000, #fff);
                opacity: 0.3;
                width: 100%;
                height: 100%;
            }
        }
    }

    // text section
    &-description {
        margin-bottom: 30px;

        @include breakpoint(medium) {
            margin-bottom: 60px;
        }
    }
    &-details {
        border-top: 1px solid #000;
        font-family: 'GT America';
        font-weight: 300;
        line-height: 1.25em;
    }
    &-detail {
        display: flex;
        border-bottom: 1px solid #000;
        @include padding-y(20px);

        &-label {
            width: columns(2, 6);

            @include breakpoint(xlarge) {
                width: columns(2, 5);
            }
        }
        &-value {
            flex: 1;
            margin-left: 15px;
        }
    }

    // map
    &-map {
        @include breakpoint(medium) {
            margin-left: columns(1);
            width: columns(10);
        }

        @include breakpoint(xlarge) {
            width: columns(9);
        }

        iframe {
            width: 100%;
            height: 500px;
        }
    }

    // testimonial
    &-testimonial {
        @include breakpoint(medium) {
            margin-left: columns(1);
            width: columns(10);
        }

        @include breakpoint(xlarge) {
            margin-left: columns(3);
            width: columns(7);
        }
    }

    // related
    &-related {
        &-list {
            position: relative;
            padding-top: 30px;

            @include breakpoint(medium) {
                margin-left: columns(1);
                width: columns(10);
            }
            @include breakpoint(large) {
                display: flex;
            }
            @include breakpoint(xlarge) {
                width: columns(9);
            }

            &-link {
                position: absolute;
                bottom: 100%;
                left: 0;
            }
        }
        &-project {
            display: block;

            &:not(:first-of-type) {
                margin-top: 15px;
            }

            @include breakpoint(large) {
                width: columns(4);

                &:not(:first-of-type) {
                    margin-top: 0;
                    margin-left: 15px;
                }
            }

            &-image {
                width: 100%;

                @include breakpoint(large) {
                    object-fit: cover;
                    width: auto;
                    height: 200px;
                }
            }
            &-title {
                font-family: 'GT America';
                font-size: 0.875rem;
                line-height: 1.43em;
                margin-top: 15px;
            }
            &-address {
                font-family: 'GT Pressura Pro';
                font-size: 0.8125rem;
                font-weight: 300;
                line-height: 1.54em;
            }
        }
    }
}