.contact-section {
    // left
    &-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'GT America';
        font-weight: 300;
        font-style: 1.0625rem;
        font-style: normal;
        line-height: 1.47em;

        &-heading {
            font-family: 'GT Pressura';
            font-size: 0.8125;
            font-weight: 700;
            letter-spacing: 0.14em;
            line-height: 1.54em;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &-address {
            margin-bottom: 15px;
        }
        
        a {
            display: block;
        }
    }
    
    // right
    &-form {
        margin-top: 30px;
    }
    &-text {
        margin-bottom: 50px;
    }

    // form
    .wpcf7 {
        .form-row {
            + p {
                border-top: 1px solid #000;
            }
        }

        &-form {
            &-control:not(.btn) {
                outline: none;
                border: none;
                border-top: 1px solid #000;
                background: none;
                font-weight: 400;
                @include padding-y(20px);
                width: 100%;
            }
        }

        &-select {
            option {
                font-weight: inherit;
            }
        }

        &-submit {
            border: none;
            margin-top: 20px;
            margin-left: auto;
            width: auto;
        }
    }

    // map
    &-map {
        iframe {
            width: 100%;
            height: 500px;

            @include breakpoint(medium) {
                margin-left: columns(1);
                width: columns(10);
            }

            @include breakpoint(xlarge) {
                width: columns(9);
            }
        }
    }
}