@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Light.eot');
    src: url('GTAmerica-Light.eot?#iefix') format('embedded-opentype'),
        url('GTAmerica-Light.woff2') format('woff2'),
        url('GTAmerica-Light.woff') format('woff'),
        url('GTAmerica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.eot');
    src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff'),
        url('GTAmerica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('GTPressura-Light.eot');
    src: url('GTPressura-Light.eot?#iefix') format('embedded-opentype'),
        url('GTPressura-Light.woff2') format('woff2'),
        url('GTPressura-Light.woff') format('woff'),
        url('GTPressura-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('GTPressura.eot');
    src: url('GTPressura.eot?#iefix') format('embedded-opentype'),
        url('GTPressura.woff2') format('woff2'),
        url('GTPressura.woff') format('woff'),
        url('GTPressura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GT Pressura';
    src: url('GTPressura-Bold.eot');
    src: url('GTPressura-Bold.eot?#iefix') format('embedded-opentype'),
        url('GTPressura-Bold.woff2') format('woff2'),
        url('GTPressura-Bold.woff') format('woff'),
        url('GTPressura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('GTPressuraMono.eot');
    src: url('GTPressuraMono.eot?#iefix') format('embedded-opentype'),
        url('GTPressuraMono.woff2') format('woff2'),
        url('GTPressuraMono.woff') format('woff'),
        url('GTPressuraMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Pressura Pro';
    src: url('GTPressuraProMTrial-Light.eot');
    src: url('GTPressuraProMTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('GTPressuraProMTrial-Light.woff2') format('woff2'),
        url('GTPressuraProMTrial-Light.woff') format('woff'),
        url('GTPressuraProMTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}