footer {
    background-color: white;

    body:not(.home) & {
        margin-top: 20px;

        @include breakpoint(medium) {
            margin-top: 70px;
        }
    }
}
#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
        flex-direction: row;
        width: columns(10);
        @include margin-x(auto);
        height: 350px;
    }

    &-left {
        text-align: center;
        @include padding-y(20px);

        @include breakpoint(medium){
            width: columns(5,10);
            text-align: left;
        }
        &-heading {
            text-transform: uppercase;
            font-size: 1.25rem;
            letter-spacing: 0.16em;
            margin-bottom: 40px;
        }
        &-content {
            line-height: 1.53em;
            font-family: 'GT Pressura Pro';
        }
    }

    &-right {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 20px;

        @include breakpoint(medium){
            width: columns(5,10);
        }
        .social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            vertical-align: center;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            background-color: black;
            @include margin-x(7.5px);
            &::before {
                color: white;
            }
        }
    }
}