body.home {
    margin: 0;
}


#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // url('../image/home-hero.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    @include breakpoint(large) {
        flex-direction: row;
    }

    &-logo {
        margin-bottom: 20px;
        @include breakpoint(large) {
            position: absolute;
            top: 50%;
            left: columns(1);
            transform: translateY(-100%);
            margin-bottom: 20px;
        }
    }

    &-heading {
        font-size: 1.25rem;
        letter-spacing: 0.16em;
        line-height: 1.177em;
        text-transform: uppercase;
        color: white;
    } 

}

#home-cta-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    margin-bottom: 20px;

    @include breakpoint(medium) {
        justify-content: normal;
        align-items: normal;
        width: columns(1);
        margin-left: columns(5);
    }
    @include breakpoint(xlarge) {
        justify-content: normal;
        align-items: normal;
        width: columns(1);
        margin-left: columns(5);
    }
}

#image-1 {

    @include breakpoint(medium) {
        width: columns(7);
        margin-left: auto;
    }
    @media (min-width: 1366px) {
        
        width: calc((100vw - 1366px) / 2 + (7 / 12 * 1366px));
    }    
}

#image-2 {
    @include breakpoint(medium) {
        width: columns(6);
        margin-left: columns(2);
    }
}

.two-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium) {
        flex-direction: row;
    }

    img {
        object-fit: cover;
    }

    #image-3 {
        margin: auto;

        @include breakpoint(medium) {
            min-width: columns(3);
            margin: 0;
            margin-right: auto;
        }
    }
    #image-4 {
        margin-top: 30px;

        @include breakpoint(medium) {
            min-width: columns(6);
            margin-top: 0;
            margin-bottom: 10%;
            margin-left: columns(2);
        }
    }
}