.container {
    @include padding-x(30px);
    @include margin-x(auto);
    max-width: 1366px;

    @include breakpoint(large) {
        @include padding-x(45px);
    }

    &.full {
        max-width: none;
    }
}

.text {
    p {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}