.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: $navbarHeight;
    left: 0;
    background-color: rgba(#000, 0.6);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.3s, z-index 0s 0.3s;

    body.modal-visible & {
        opacity: 1;
        z-index: 100;
        transition: opacity 0.2s;
    }

    &-container {
        @include padding-y(30px);
        height: 500px;
        max-height: 100%;
    }

    &-inner {
        position: relative;
        background-color: $light-grey;
        opacity: 0;
        transform: scale(0);
        height: 100%;
        transition: opacity 0.3s, transform 0.3s;

        @include breakpoint(medium) {
            @include margin-x(auto);
            width: columns(10);
        }

        body.modal-visible & {
            z-index: 100;
            opacity: 1;
            transform: scale(1);
        }
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.125rem;
        padding: 20px;
    }

    &-content {
        overflow: auto;
        padding: 40px 20px;
        height: 100%;
    }
}