body{
    margin-top: $navbarHeight;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: $navbarHeight;
    background-color: white;
    z-index: 1000;

    &.nav-scroll {
        background-color: transparent;

        #navbar-menu {
            .hamburger-line {
                stroke: white;
            }    
        }
        #navbar-logo {
            display: none;
        }
        #navbar-cta {
            display: none;
        }
    }

    &-menu {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        @include breakpoint(medium){
            left: 45px;
        }
        &-btn {
            .hamburger-line {
                stroke: black;
            }
        }
    }
 
    &-logo {
        width: 100px;
        margin: auto;
        @include breakpoint(medium) {
            width: auto;
        }
    }

    &-cta {
        display: none;
        @include breakpoint(medium) {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            text-transform: uppercase;
            color: black;
            font-size: 1.0625rem;
            font-weight: 300;
            letter-spacing: 3px;
            transform: translateY(-50%);
        }
    }

    &-inner {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        background-color: $secondary;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        z-index: 100;

        @include breakpoint(medium) {
            width: columns(5);
        }

        &.open {
            display: flex;
            transform: none;
            opacity: 1;
            height: 100vh;
            pointer-events: all;
            transform: none;
        }

        &-exit {
            position: absolute;
            top: 30px;
            left: 20px;
            color: #ffffff;
            cursor: pointer;
            @include breakpoint(medium){
                top: 35px;
                left: 45px;
            }
        }
    }

    nav {
        width: 100%;
    }

    &-list {
        //transistion off screen to left then slide in on click
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        height: 100vh;

        li {
            @include padding-y(10px);
        }

        @include breakpoint(medium) {
            align-items: unset;
            justify-content: unset;
            text-align: left;
            margin-top: 100px;
            li {
                @include padding-y(5px);
            }
        }  
    }
}

body.nav-open {
    position: relative;
    #nav-outer {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.6;
        width: 100vw;
        height: 100vh;
        z-index: 50;
    }
}